td {
    max-width: 300px;
    padding: 5px;
    border: thin solid #001b9b;
    border-collapse: collapse;
}

th {
    max-width: 300px;
    padding: 5px;
    border: thin solid #001b9b;
    border-collapse: collapse;
    background-color: #2a67f7;
}

table {
    border: thin solid #001b9b;
}

h1, h2, h3 {
    color: #93160a;
}