h1, h2, h3 {
    color: #93160a;
}

#start {
    background-color: black;
    color: white;
}

#clickCount {
    font-weight: bolder;
}

#demoOuter {
    display: none;
}

#demoHeader {

}

#demoText {

}

#demoInner {
    transition: all 1s ease-in-out;
}
#history {
    list-style-type: none;
}