#charactersList {
    position: relative;
    margin: 50px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container > div {
  width: 150px;
  margin: 50px;
  line-height: 150px;
  position: relative;
}

.thumbnail {
    height: 150px;
    width: 150px;
    margin: 5px;
    padding: 5px;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 0px;
}

h1, h2, h3 {
    color: #93160a;
}

table {
    border: thin solid #93160a;
}

td {
    max-width: 300px;
    padding: 5px;
    border: thin solid #93160a;
    border-collapse: collapse;
}

th {
    max-width: 300px;
    padding: 5px;
    border: thin solid #93160a;
    border-collapse: collapse;
    background-color: #fabdb7;
}