checkbox {

}

h1, h2, h3 {
    color: #93160a;
}

table {
    border: thin solid #93160a;
}

td {
    max-width: 300px;
    padding: 5px;
    border: thin solid #93160a;
    border-collapse: collapse;
}

th {
    max-width: 300px;
    padding: 5px;
    border: thin solid #93160a;
    border-collapse: collapse;
    background-color: #fabdb7;
}