#charactersList {
    position: relative;
    margin: 50px;
}

#explanation {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 50;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container > div {
  background-color: #f1f1f1;
  color:  #f1f1f1;
  width: 150px;
  margin: 25px;
  text-align: center;
  line-height: 150px;
  position: relative;
}

#footer {
    text-align: center;
    color: #93160a;
    z-index: 5;
    border: thin solid white;
    background-color: white;
}

#mainContent {
    padding-top: 300px;
    top: 300px;
}

.thumbnail {
    height: 150px;
    width: 150px;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 0px;
}

h1, h2, h3 {
    color: #93160a;
}

td {
    max-width: 300px;
    padding: 5px;
    border-collapse: collapse;
}