#footer {
    font-size: 12px;
    background-color: #ccd9ff;
    padding: 5px 20px;
}

#footer h4 {
    font-size: 14px;
}

a:link, a:visited {
  color: #001a66;
}

a:hover, a:active {
  color: #0040ff;
} 

#details div.transparent {
    opacity: 0;
}

#details div {
    position: relative;
    left: 0;
    width: inherit;
    padding: 5px 15px;
    transition: opacity 1s ease-in;
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#details {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: #ccd9ff;
    z-index: 2;
    width: inherit;
}

#rolesList, #charactersList, #factionsList {
    position: relative;
    margin: 25px;
}

input {
    border: thin solid #0033cc;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px;
}

.btn {
    border: none;
    color: white;
    padding: 15px;
    margin: 5px;
    cursor: pointer;
    background-color: #0033cc;
    border-radius: 5px;
}

.btn:hover {
    color: black;
    background-color: #ccd9ff;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content:space-around;
}

.flex-container > button {
  width: 175px;
  position: relative;
}

table {
    border-collapse: collapse;
}

td {
    padding: 5px;
    border: solid thin #001a66;
}

th {
    background-color: #0033cc;
    padding: 5px;
    border: solid thin #001a66;
    color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #668cff;
}

/******************************************************************
* code from developer.mozilla.org transform function 
* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Transforms/Using_CSS_transforms
******************************************************************/
.element-3d:hover {
    transform: rotate3d(0,0,0,0turn) scale3d(2, 2, 2);
    z-index: 5;
}

.checked {
    transform: rotateY(0turn);
}

.unchecked {
    transform: rotateY(0.5turn);
}

.transition-all {
    transition: all 0.4s ease-in;
}
/* End of code from developer.mozilla.com */

/******************************************************************
* The following menu code comes from W3Schools.com
* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_topnav
******************************************************************/
/* Style the menu */
.menu {
  overflow: hidden;
  background-color: #001a66;
}

/* Style the menu links */
.menu a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


/* Change background color of links on hover */
.menu a:hover {
  background-color: #ccd9ff;
  color: black;
}

/* Create an active menu item class */
.active-menu-item {
  background-color: #0033cc;
  color: white;
}

/* Create a menu icon class */
.menu .icon {
  display: none;
}

/* Change the menu links style for smaller screens */
@media screen and (max-width: 645px) {
  .menu a:not(:first-child) {display: none;}
  .menu a.icon {
    float: right;
    display: block;
  }
}

/* Change the menu style for smaller screens */
@media screen and (max-width: 645px) {
  .menu.responsive {position: relative;}
  .menu.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .menu.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/* End of code from W3Schools.com */

/******************************************************************
* The following tab code comes from W3Schools.com
* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_tabs
******************************************************************/
/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #001a66;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    color: #f2f2f2;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.4s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ccd9ff;
    color: black;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #0033cc;
    color: white;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* Change the display on the first tab */
.active-tab{
    display: block;
}
/* End of code from W3Schools.com */
