td {
    max-width: 400px;
    padding: 5px;
    border: thin solid #28442d;
    border-collapse: collapse;
}

th {
    max-width: 400px;
    padding: 5px;
    border: thin solid #28442d;
    border-collapse: collapse;
    background-color: #28442d;
    color: white;
}

table {
    border: thin solid #28442d;
}

h1, h2, h3 {
    color: #28442d;
}

span {
    font-weight: bold;
    color: #28442d;
    font-size: x-large;
}