#rolesList {
    position: relative;
    margin: 50px;
}

#explanation {
    position: fixed;
    top: 0;
    left: 20px;
    background-color: white;
    width:auto;
    z-index: 50;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container > div {
  color:  white;
  width: 108px;
  margin: 25px;
  text-align: center;
  line-height: 150px;
  position: relative;
}

#footer {
    text-align: center;
    color: #93160a;
    z-index: 5;
    border: thin solid white;
    background-color: white;
}

.image-expand {
    transform: scale(1.5, 1.5);
}

#mainContent {
    padding-top: 380px;
    top: 380px;
}

@keyframes animateTable {
    from {}
    to {}
}

table {

}

.thumbnail {
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 150px;
    width: 108px;
    -webkit-transition: transform 1s ease, opacity 1s ease;
    -moz-transition: transform 1s ease, opacity 1s ease;
    -o-transition: transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease;
}

.thumbnail:hover {
    opacity: 1.0;
    transform: scale(1.5, 1.5) rotate(360deg);
}

h1, h2, h3 {
    color: #93160a;
}

td {
    min-width: 150px;
    max-width: 300px;
    padding: 5px;
    border-collapse: collapse;
}

/* code from MDN.org transform function */
#3d-element {
    width: 108px;
    height: 150px;
    perspective: 550px;
    transform-style: preserve-3d;
}
.transition-all {
    transition: all .3s ease-in;
}
.front {
    background: white;
    transform: translateZ(1px);
        width: 100%;
    height: 100%;
}
.back {
    background: #051539;
    transform: rotateY(180deg) translateZ(1px);
        width: 100%;
    height: 100%;
}
.right {
    background: #051539;
    transform: rotateY(90deg) translateZ(107px);
        width: 0.925%;
    height: 100%;
}
.left {
    background: #051539;
    transform: rotateY(-90deg) translateZ(1px);
        width: 0.925%;
    height: 100%;
}
.top {
    background: #051539;
    transform: rotateX(90deg) translateZ(1px);
        width: 100%;
    height: 0.66%;
}
.bottom {
    background: #051539;
    transform: rotateX(-90deg) translateZ(149px);
        width: 100%;
    height: 0.66%;
}
.face {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: inherit;
    font-size: 60px;
    color: #fff;
}
