#charactersList {
    position: relative;
    margin: 50px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

#statusDisplay {
    width: 250px;
    margin: 5px;
    position: relative;
}

.character {
  color:  white;
  width: 150px;
  margin: 25px;
  text-align: center;
  line-height: 150px;
  position: relative;
}

#footer {
    text-align: center;
    color: #93160a;
    z-index: 5;
    border: thin solid white;
    background-color: white;
}

.image-expand {
    transform: scale(1.5, 1.5);
}

.thumbnail {
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 150px;
    width: 150px;
    -webkit-transition: transform 1s ease, opacity 1s ease;
    -moz-transition: transform 1s ease, opacity 1s ease;
    -o-transition: transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease;
}

.thumbnail:hover {
    opacity: 1.0;
}

h1, h2, h3 {
    color: #93160a;
}

td {
    width: 240px;
    padding: 5px;
    border-collapse: collapse;
}

@keyframes animateTable {
    0% { 
        transform: rotateX(-90deg);
    }
    100% { 
        transform: rotateX(0deg);
    }
}

#addTable {
    animation: animateTable 1s ease-in;
}

#characterDetails {
    width: 750px;
    margin: 5px;
    position: relative;
}