.flex-container > div.card {
  color:  white;
  width: 81px;
  margin: 10px;
  text-align: center;
  line-height: 81px;
  position: relative;
}

.image-expand {
    transform: scale(1.5, 1.5);
}

.thumbnail {
    width: 81px;
    height: 81px;
}

/******************************************************************
* code from developer.mozilla.org transform function 
* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Transforms/Using_CSS_transforms
******************************************************************/
.element-3d {
    width: 81px;
    height: 81px;
    perspective: 550px;
    transform-style: preserve-3d;
    z-index: 1;
}

.front {
    background: white;
    transform: translateZ(1px);
    width: 100%;
    height: 100%;
}

.back {
    background: #d8b14c;
    transform: rotateY(180deg) translateZ(1px);
    width: 100%;
    height: 100%;
}

.right {
    background: #d8b14c;
    transform: rotateY(90deg) translateZ(80px);
    width: 2%;
    height: 100%;
}

.left {
    background: #d8b14c;
    transform: rotateY(-90deg) translateZ(0px);
    width: 2%;
    height: 100%;
}

.top {
    background: #d8b14c;
    transform: rotateX(90deg) translateZ(0px);
    width: 100%;
    height: 2%;
}

.bottom {
    background: #d8b14c;
    transform: rotateX(-90deg) translateZ(80px);
    width: 100%;
    height: 2%;
}

.face {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: inherit;
    font-size: 60px;
    color: #fff;
}
/* End of code from developer.mozilla.com */
